




body {
  background-color: lightblue;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

h1 {
  font-family: cursive;
  font-size: 100px;
  font-stretch:expanded;
  text-align:center;
}

.title {
  color:navy;
}

div {
  font-family: cursive;
  font-size: 20px;
  font-stretch:expanded;
  color: blue;
  text-align:center;
}

article {
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-left: 80px;
}

h2 {
  font-family: cursive;
  font-size: 50px;
  font-stretch:expanded;
  color: black;
  text-align:center;
}

#paraUtah {
  font-family: cursive;
  font-size: 40px;
  font-stretch:expanded;
  color: purple;
}

#paraColorado {
  font-family: cursive;
  font-size: 40px;
  font-stretch:expanded;
  color: orange;
}

#paraCal {
  font-family: cursive;
  font-size: 40px;
  font-stretch:expanded;
  color: blue;
}

#paraNev {
  font-family: cursive;
  font-size: 40px;
  font-stretch:expanded;
  color: green;
}

h3 {
  font-family: cursive;
  font-size: 40px;
  font-stretch:expanded;
  color: navy;
}

li {
  font-family: cursive;
  font-size: 20px;
  font-stretch:expanded;
  color: navy;
  padding-top: 20px;
}

.rotate90 {
  transform: rotate(90deg);
  padding-top: 50px;
  padding-bottom: 50px;
}

.rotateneg90{
  transform: rotate(-90deg);
  padding-top: 50px;
  padding-bottom: 50px;
}

.green {
  color: "green";
}

#blue {
  color: "blue";
}
